<div class="card ">
    <div class="header">
        <h4 class="title">BMS Overview</h4>
    </div>
    <div class="content">
        <table class="table table-hover table-striped table-condensed">
            <thead>
            <tr class="d-flex">
                <th class="col-6" scope="col">Name</th>
                <th class="col-6" scope="col">Value</th>
            </tr>
            </thead>
            <tbody id="bms-table-body">
            {% for key, value in bms_sensors.items() %}
                <tr class="d-flex sensor-row">
                    <th class="text-center col-6" scope="row">{{ value['name_pretty'] }}</th>
                    <td id="{{ key }}" class="col-6 telemetry-value"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>


{#$( document ).ready(function() {
    socket.emit('join_room','telemetry_updates');
    $("#bms-table-body").find("tr").each(function(){ bmsTableBody.push(this.id); });
});

const bmsTableBody = $('#bms-table-body');

socket.on('pod_telemetry', function (data) {
    data = JSON.parse(data);
    let value, value_cell, value_name;
    const length = bmsTableBody.length;
    for (let index = 0; index < length; index++) {
        value_name = bmsTableBody[index];
        if(!data.hasOwnProperty(value_name)){
            continue;
        }
        value = data[value_name];
        value_cell = $("#" + value_name + "-actual");
        value_cell.text(value.toFixed(2));
    }
});#}


</script>