<div class="card ">
    <div class="content">
        <table class="table table-hover table-striped">
            <thead><tr>
                <th>Status</th>
                <th>Cell #</th>
                <th>Voltage</th>
                <th>Temp</th>
            </tr>
            {% for i in range(20) %}
            <tr id="cell-{{ i }}">
            	<td><i class="fa fa-circle text-success"></i></td>
                <td>2</td>
                <td>1</td>
                <td>22</td>
            </tr>
            {% endfor %}
            </thead></table>
    </div>
</div>
