<div class="card card-top">
   <div class="header">
      <h4 class="title">Controls</h4>
      <p class="category"></p>
   </div>
   <div class="content">
       <div class="row">
           <div class="col-md-6">
               <div class="row text-center">
                    <button class="btn btn-warning btn-command" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> ARM </button>
               </div>
               <div class="row text-center">
                    <button class="btn btn-warning btn-command" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> DISARM </button>
               </div>
               <div class="row text-center">
                    <button class="btn btn-warning btn-command" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> FLIGHT </button>
                </div>
           </div>
           <div class="col-md-6">

                <div class="row text-center">
                    <button class="btn btn-primary btn-command" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> RESTART </button>
                </div>
               <div class="row text-center">
                    <button class="btn btn-primary btn-command" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> OVERRIDES </button>
                </div>
                <div class="row text-center">
                    <button class="btn btn-info btn-command" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> MANUAL CONTROL </button>
                </div>
           </div>
       </div>
       <div class="row text-center">
            <button class="btn btn-danger btn-command" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> ESTOP </button>
       </div>
   </div>
</div>
 <style>
     .btn-command{
         overflow: hidden;
         margin: .8em;
         width: -webkit-fill-available;
         color: black !important;
     }


 </style>