<div class="col-md-2">
 <div class="card text-center connection-card">
    <div class="header">
       <h5 class="title">Connection</h5>
    </div>
    <div class="content">
       <div id="connected-loader" class="connection-logo loader-inner ball-scale-ripple"></div>
       <div id="no-connection-loader"class="no-connection-logo loader-inner ball-pulse"></div>
       <br>
    </div>
 </div>
</div>
<div class="col-md-2">
 <div class="card text-center connection-card">
    <div class="header">
       <h5 class="title">Telemetry</h5>
    </div>
    <div class="content">
       <div id="no-telemetry-loader"class="no-telemetry-logo loader-inner ball-pulse"></div>
       <div id="telemetry-loader"class="telemetry-logo loader-inner line-scale-party"></div>
       <br>
       <h7 id="telem-received-num">0</h7>
        <br>
        Packets Received
    </div>
 </div>
</div>

<script src="{{ url_for('static', filename='assets/js/ConnectionCards.js') }}"></script>

