{% extends "_cards/connectionCards.html" %}

{% block connectionStates %}
     <div class="card connection-card">
        <div class="header">
           <h4 class="title">State</h4>
        </div>
        <div class="content">
           <div class="text-center">
              <span class="btn btn-default btn-fill btn-md"><b>vent</b></span>
               <span class="btn btn-primary btn-fill btn-md"><b>off</b></span>
               <span class="btn btn-default btn-fill btn-md"><b>engaged</b></span>
           </div>
        </div>
     </div>
{% endblock %}