<div class="card">
   <div class="header">
      <h4 class="title">Electrical</h4>
      <p class="category">Batteries</p>
   </div>
   <div class="content row0">
      <hr>
         <h2 style="display: inline;" id="value0">38.4</h2><h2 style="display: inline"><small>&nbsp;V</small></h2>
      <hr>
         <h2 style="display: inline;" id="value1" >850</h2><h2 style="display: inline"><small>&nbsp;mA</small></h2>
      <hr>
         <h2 style="display: inline;" id="value2" >38.5</h2><h2 style="display: inline"><small>&nbsp;m/s<sup>2</sup></small></h2>

      <div class="footer">
         <hr>
    <div class="stats">
            <i id="status0" class="fa fa-check text-success"></i>
             <span id="status1">Electrical Ok</span>
         </div>
      </div>
   </div>
</div>
