<div class="card ">
   <div class="header">
      <h4 class="title">Pod Messages</h4>
      <p class="category">What shes sayin</p>
   </div>
   <div class="content">
      <div class="table-full-width">
         <table class="table">
            <tbody id="events-table-body">
            </tbody>
         </table>
      </div>
      <div class="footer">
         <hr>
         <div class="stats">
            <i class="fa fa-history"></i>
         </div>
      </div>
   </div>
</div>

<script>


$( document ).ready(function() {
    socket.emit('join_room','telemetry_updates');
    $("#navigation-values").find("span").each(function(){ navigation_values.push(this.id); });
});

const updatesTable = $('#events-table-body');

socket.on('pod_telemetry', function (data) {
    data = JSON.parse(data);
    console.log(data);
    if (!data.hasOwnProperty('updateMessages')) {
        return;
    }
    for (const update of data.updateMessages) {
        let row = `<tr>
                      <td><i class="fa fa-info text-info"></i></td>
                      <td>${update}</td>
                    </tr>`;
        updatesTable.append(row);
    }

});
</script>