<div class="card card-top">
   <div class="header">
      <h4 class="title">Flight Profile</h4>
      <p class="category">How she goes</p>
   </div>
   <div class="content row0">
<table class="table" id="flight-profile-values">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><b>Motor Torque</b></td>
      <td><span id="motorTorque" class="telemetry-value">-</span></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Flight Distance</b></td>
      <td><span id="flightDistance" class="telemetry-value">-</span>m</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Max Flight Time</b></td>
      <td><span id="maxFlightTime" class="telemetry-value">-</span>s</td>
    </tr>
  </tbody>
</table>
      <div class="footer">
         <hr>
         <div class="stats">
            <i id="status0" class="fa fa-check text-success"></i>
             <span id="status1" >Double check</span>
         </div>
      </div>
   </div>
</div>



<script>

{#
    let flight_profile_values = [];
    $( document ).ready(function() {
        socket.emit('join_room','telemetry_updates');
        $("#flight-profile-values").find("span").each(function(){ flight_profile_values.push(this.id); });
    });


    socket.on('pod_telemetry', function (data) {
        let value, value_cell, value_name;
        data = JSON.parse(data);
        const length = flight_profile_values.length;
        for (let index = 0; index < length; index++) {
            value_name = flight_profile_values[index];
            if(!data.hasOwnProperty(value_name)){
                continue;
            }
            value = data[value_name];
            value_cell = $("#" + value_name);
            value_cell.text(value.toFixed(2));
        }
    });
#}

</script>



