<div class="card ">
    <div class="header">
        <h4 class="title">Low Voltage Overview</h4>
    </div>
    <div class="content">
        <table class="table table-hover table-striped table-condensed">
            <tbody id="bms-table-body">
            {% for key, value in lv_sensors.items() %}
                <tr class="d-flex sensor-row">
                    <th class="text-center col-6" scope="row">{{ value['name_pretty'] }}</th>
                    <td id="{{ key }}" class="col-6 telemetry-value"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

