<div class="card card-top">
   <div class="header">
      <h4 class="title">Navigation</h4>
      <p class="category">Where she to</p>
   </div>
   <div class="content row0">
        <table class="table" id="navigation-values">
          <tbody>
            <tr>
              <th scope="row"></th>
              <td><b>Position</b></td>
              <td><span  class="telemetry-value" id="podPosition"> - </span> m</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><b>Velocity</b></td>
              <td><span class="telemetry-value" id="podVelocity"> - </span> m/s</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><b>Motor</b></td>
              <td><span class="telemetry-value" id="motorSpeed"> - </span> rpm</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><b>Strips</b></td>
              <td><span class="telemetry-value" id="totalStripCount"> - </span> strips</td>
            </tr>
          </tbody>

        </table>
   </div>
</div>
