<div class="card">
   <div class="header">
      <h4 class="title">Navigation</h4>
      <p class="category">Position, Velocity, Acceleration</p>
   </div>
   <div class="content row0">
      <hr>
      <div class="">
         <h2 style="display: inline;" id="value0">30.9</h2><h2 style="display: inline"><small>&nbsp;m</small></h2>
      </div>
      <hr>
         <h2 style="display: inline;" id="value2" >38.5</h2><h2 style="display: inline"><small>&nbsp;m/s<sup>2</sup></small></h2>

      <div class="footer">
         <hr>
         <div class="stats">
            <i id="status0" class="fa fa-check text-success"></i>
             <span id="status1" >Navigation Ok</span>
         </div>
      </div>
   </div>
</div>
