<div class="card card-top">
   <div class="header">
      <h4 class="title">Navigation</h4>
      <p class="category">Where she to</p>
   </div>
   <div class="content row0">
<table class="table" id="navigation-values">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><b>Distance</b></td>
      <td><span id="podPosition">0</span>m</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Velocity</b></td>
      <td><span id="podVelocity">0</span>m/s</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Acceleration</b></td>
      <td><span id="podAccelerationX">0</span>m/s/s</td>
    </tr>
  </tbody>
</table>
      <div class="footer">
         <hr>
         <div class="stats">
            <i id="status0" class="fa fa-check text-success"></i>
             <span id="status1" >Navigation Ok</span>
         </div>
      </div>
   </div>
</div>


<script>

let navigation_values = [];
$( document ).ready(function() {
    socket.emit('join_room','telemetry_updates');
    $("#navigation-values").find("span").each(function(){ navigation_values.push(this.id); });
});

socket.on('pod_telemetry', function (data) {
    let value, value_cell, value_name;
    data = JSON.parse(data);
    const length = navigation_values.length;
    for (let index = 0; index < length; index++) {
        value_name = navigation_values[index];
        if(!data.hasOwnProperty(value_name)){
            continue;
        }
        value = data[value_name];
        value_cell = $("#" + value_name);
        value_cell.text(value.toFixed(2));
    }
});

</script>
