<div class="card">
  <div class="header">
    <h4 class="title">Configuration Profile</h4>
  </div>
  <div class="content">
    <form action="/submit_configuration" method="post" id="configuration-form">
{#      <input id = "csrf_token" name = "csrf_token" type = "hidden" />#}
      {{ configuration_form.csrf_token }}
      <div class="row">
        <div class="form-group col-md-6">
        {{ configuration_form.air_resistance.label }}
        {{ configuration_form.air_resistance (class="form-control")}}
        </div>
        <div class="form-group col-md-6">
          {{ configuration_form.motor_speed.label }}
          {{ configuration_form.motor_speed (class="form-control")}}
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          {{ configuration_form.tube_pressure.label }}
          {{ configuration_form.tube_pressure (class="form-control")}}
        </div>
        <div class="form-group col-md-6">
          {{ configuration_form.watchdog_timeout.label }}
          {{ configuration_form.watchdog_timeout (class="form-control") }}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          {{ configuration_form.pod_ip.label }}
          {{ configuration_form.pod_ip (class="form-control") }}
        </div>
      </div>
      <div class="text-center">
        <p id="configration-error-container"></p>
        {{ configuration_form.submit(class='btn btn-primary btn-fill btn-md') }}
      </div>
    </form>
  </div>
</div>

<div class="card ">
   <div class="header">
      <h4 class="title">Flight Profile</h4>
      <p class="category">Competition Flight &nbsp;• &nbsp;Loaded From Disk</p>
   </div>
   <div class="content">
      <table class="table table-hover table-striped">
         <thead>
            <tr>
               <th>Ok</th>
               <th>Name</th>
               <th>Value</th>
               <th>Units</th>
               <th>Description</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td><i id="systemPressureStatus" class="fa fa-circle text-success"></i></td>
               <td>System Pressure</td>
               <td id=systemPressureValue">1500</td>
               <td>PSI</td>
               <td>Primary Tank Pressure (1 ATM Relative)</td>
            </tr>
            <tr>
               <td><i id="trackLengthStatus" class="fa fa-circle text-success"></i></td>
               <td>Track Length</td>
               <td id=systemPressureValue">1250</td>
               <td>Meters</td>
               <td>Total Track Length</td>
            </tr>
            <tr>
               <td><i id="launchPositionStatus" class="fa fa-circle text-success"></i></td>
               <td>Launch Position</td>
               <td id="launchPositionvalue">5</td>
               <td>Meters</td>
               <td>Position of vehicle at launch</td>
            </tr>
            <tr>
               <td><i id="brakeAStatus" class="fa fa-circle text-success"></i></td>
               <td>Brake Set A - Enable</td>
               <td id="brakeAValue" >True</td>
               <td>Boolean</td>
               <td>Enable Braking with brake set A</td>
            </tr>
            <tr>
               <td><i id="brakeAMaxStatus" class="fa fa-circle text-success"></i></td>
               <td>Brake Set A - Max PSI</td>
               <td id="brakeAMaxValue" >500</td>
               <td>PSI</td>
               <td>Maximium Allowable Pressure in Brake set A</td>
            </tr>
            <tr>
               <td><i id="brakeBStatus" class="fa fa-circle text-success"></i></td>
               <td>Brake Set B - Enable</td>
               <td id="brakeBValue" >True</td>
               <td>Boolean</td>
               <td>Enable Braking with brake set B</td>
            </tr>
            <tr>
               <td><i id="brakeBMaxValue" class="fa fa-circle text-success"></i></td>
               <td>Brake Set B - Max PSI</td>
               <td id="brakeBMaxValue" >500</td>
               <td>PSI</td>
               <td>Maximium Allowable Pressure in Brake set B</td>
            </tr>
            <tr>
               <td><i id="brakeCStatus" class="fa fa-circle text-success"></i></td>
               <td>Brake Set C - Enable</td>
               <td id="brakeCStatus" >True</td>
               <td>Boolean</td>
               <td>Enable Braking with brake set C</td>
            </tr>
            <tr>
               <td><i id="brakeCMaxValue" class="fa fa-circle text-success"></i></td>
               <td>Brake Set C - Max PSI</td>
               <td id="brakeCMaxValue" >500</td>
               <td>PSI</td>
               <td>Maximium Allowable Pressure in Brake set C</td>
            </tr>
            <tr>
               <td><i id="targetVelocityStatus" class="fa fa-circle text-success"></i></td>
               <td>Target Velocity</td>
               <td id="targetVelocityValue" >282</td>
               <td>m/s</td>
               <td>Target Vehicle Velocity</td>
            </tr>
            <tr>
               <td><i id="fixedBufferZoneStatus" class="fa fa-circle text-success"></i></td>
               <td>Fixed Buffer Zone</td>
               <td id="fixedBufferZoneValue" >50</td>
               <td>Meters</td>
               <td>Buffer Zone at end of track</td>
            </tr>
         </tbody>
      </table>
      <div class="footer">
         <div class="legend">
            <i class="fa fa-circle text-success"></i>&nbsp;Config Ok&nbsp;<i class="fa fa-circle text-warning"></i>&nbsp;Config Warning&nbsp;<i class="fa fa-circle text-danger"></i>&nbsp;Config Error
         </div>
         <hr>
         <div class="stats">
            <i class="fa fa-check text-success"></i> Flight Profile Ok &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
         </div>
      </div>
   </div>
</div>
