<div class="card connection-card text-center">
    <div class="header">
        <h4 class="title">Controls</h4>
    </div>
    <div class="content ">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label id="off-btn" class="btn brake-btn btn-off btn-lg active">
                <input type="radio" name="options" autocomplete="off"> CLOSED
            </label>
            <label id="on-btn" class="btn brake-btn btn-on btn-lg">
                <input type="radio" name="options" autocomplete="off"> VENT
            </label>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='assets/js/DtsControl.js') }}"></script>
