<div class="card ">
   <div class="header">
      <h4 class="title">Sensor Configurations</h4>
      <p class="category">Load & Save Configurations</p>
   </div>
   <div class="content">
      <div class="table-full-width">
         <table class="table">
             <thead>
              <tr>
                <th>Ok</th>
                 <th>Name</th>
                 <th>Owner</th>
                 <th>Date</th>
                 <th>SHA</th>
                 <th>Actions</th>
              </tr>
            </thead>
            <tbody>
               <tr>
                  <td><i class="fa fa-info text-info"></i></td>
                  <td>Default</td>
                  <td>System</td>
                  <td>2017-08-12 00:00:00</td>
                  <td><code>66ebe3d</code></td>
                  <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                          <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                          <i class="fa fa-times"></i>
                      </button>
                  </td>
                </tr>
                <tr>
                  <td><i class="fa fa-info text-info"></i></td>
                  <td>Devens Test</td>
                  <td>EdHurtig</td>
                  <td>2017-11-17 00:00:00</td>
                  <td><code>2bc007a</code></td>
                  <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                          <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                          <i class="fa fa-times"></i>
                      </button>
                  </td>
               </tr>
               <tr>
                 <td><i class="fa fa-info text-info"></i></td>
                 <td>SHITL Bench</td>
                 <td>EdHurtig</td>
                 <td>2017-10-17 00:00:00</td>
                 <td><code>448f09e</code></td>
                 <td class="td-actions text-right">
                     <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                         <i class="fa fa-edit"></i>
                     </button>
                     <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                         <i class="fa fa-times"></i>
                     </button>
                 </td>
              </tr>
            </tbody>
         </table>
      </div>
      <div class="footer">
         <hr>
         <div class="stats">
            <i class="fa fa-history"></i> Updated 1 second ago
         </div>
      </div>
   </div>
</div>
