<div class="card ">
    <div class="header">
        <h4 class="title">Sensor Overview</h4>
    </div>
    <div class="content">
        <table class="table table-hover table-striped table-condensed" id="sensorTable">
            <thead>
            <tr class="d-flex">
                <th class="col-5" scope="col">Name</th>
                <th class="col-3" scope="col">Actual</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in sensors.items() %}
                <tr class="d-flex sensor-row">
                    <th class="text-center col-5" scope="row">{{ value['name_pretty'] }}</th>
                    <td id="{{ key }}" class="col-3 telemetry-value"></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<script src="{{ url_for('static',filename='assets/js/SensorTable.js') }}"></script>
