<div class="card ">
   <div class="header">
      <h4 class="title">Sensor Overview</h4>
      <p class="category">Sensor Data</p>
   </div>
   <div class="content">
          {{ test }}

    {#       TODO change over to a method that fetches elements from InfluxDB #}
    {#       <table class="table table-hover table-striped table-condensed">#}
    {#         <thead>#}
    {#            <tr>#}
    {#               <th>Sensor</th>#}
    {#               <th>OK</th>#}
    {#               <th>Min</th>#}
    {#               <th>Actual</th>#}
    {#               <th>Max</th>#}
    {#            </tr>#}
    {#         </thead>#}
    {#         <tbody>#}
    {#            <tr class="brake_psi_0">#}
    {#               <td>brake_psi_0</td>#}
    {#               <td id="status"><i class="pe-7s-check"></i> </td>#}
    {#               <td id="senso01">--</td>#}
    {#               <td id="senso02">--</td>#}
    {#               <td id="senso03">--</td>#}
    {#            </tr>#}
    {#            <tr class="brake_psi_1">#}
    {#               <td>brake_psi_1</td>#}
    {#               <td id="status"><i class="pe-7s-check"></i> </td>#}
    {#               <td id="senso11">--</td>#}
    {#               <td id="senso12">--</td>#}
    {#               <td id="senso13">--</td>#}
    {#            </tr>#}
    {#            <tr class="brake_psi_2">#}
    {#               <td>brake_psi_2</td>#}
    {#               <td id="senso20"><i class="pe-7s-check"></i> </td>#}
    {#               <td id="senso21">--</td>#}
    {#               <td id="senso22">--</td>#}
    {#               <td id="senso23">--</td>#}
    {#            </tr>#}
    {#            <tr class="brake_temp_0">#}
    {#               <td>brake_temp_0</td>#}
    {#               <td id="status"><i class="pe-7s-check"></i> </td>#}
    {#               <td id="min">--</td>#}
    {#               <td id="actual">--</td>#}
    {#               <td id="max">--</td>#}
    {#            </tr>#}
    {#            <tr class="brake_temp_1">#}
    {#               <td>brake_temp_1</td>#}
    {#               <td id="status"><i class="pe-7s-check"></i> </td>#}
    {#               <td id="min">--</td>#}
    {#               <td id="actual">--</td>#}
    {#               <td id="max">--</td>#}
    {#            </tr>#}
    {#            <tr class="brake_temp_2">#}
    {#               <td>brake_temp_2</td>#}
    {#               <td id="status"><i class="pe-7s-check"></i> </td>#}
    {#               <td id="min">--</td>#}
    {#               <td id="actual">--</td>#}
    {#               <td id="max">--</td>#}
    {#            </tr>#}
    {#            <tr class="motor_temp_0">#}
    {#               <td>motor_temp_0</td>#}
    {#               <td id="status"><i class="pe-7s-check"></i> </td>#}
    {#               <td id="min">--</td>#}
    {#               <td id="actual">--</td>#}
    {#               <td id="max">--</td>#}
    {#            </tr>#}
    {#            <tr class="motor_temp_1">#}
    {#               <td>motor_temp_1</td>#}
    {#               <td id="status"><i class="pe-7s-check"></i> </td>#}
    {#               <td id="min">--</td>#}
    {#               <td id="actual">--</td>#}
    {#               <td id="max">--</td>#}
    {#            </tr>#}
    {#            <tr class="resolver_rpm">#}
    {#               <td>resolver_rpm</td>#}
    {#               <td id="status"><i class="pe-7s-check"></i> </td>#}
    {#               <td id="min">--</td>#}
    {#               <td id="actual">--</td>#}
    {#               <td id="max">--</td>#}
    {#            </tr>#}
    {#         </tbody>#}
    {#       </table>#}

   </div>
</div>
