<div class="card card-top">
   <div class="header">
      <h4 class="title">States</h4>
      <p class="category">How she be</p>
   </div>
   <div class="content row0">
<table class="table">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><b>Flight Computer</b></td>
      <td><span id="motorToruqe">Standby</span></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Brake Node</b></td>
      <td><span id="maxFlightDistance">Standby</span></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>LVDC Node</b></td>
      <td><span id="maxFlightTime">Standby</span></td>
    </tr>
  </tbody>
</table>
      <div class="footer">
         <hr>
         <div class="stats">
            <i id="status0" class="fa fa-check text-success"></i>
             <span id="status1" >Navigation Ok</span>
         </div>
      </div>
   </div>
</div>
