.metadata
*sloeber.ino.cpp
*Release/
*Debug/
*.d
*.project
*.cproject
.DS_Store
*.settings*
.idea
venv/
pycache/
*.out
*.pyc
*.swp
*org.eclipse.cdt.core.prefs
*platformio.ini
*platformio
*.pio
*.pioenvs
*.piolibdeps
*.clang_complete
*.gcc-flags.json
