.metadata
*sloeber.ino.cpp
*Release/
*Debug/
*.d
*.project
*.cproject
.DS_Store
*.settings*
.idea
venv/
pycache/
*.out
*.pyc
*.swp
*org.eclipse.cdt.core.prefs

*__pycache__


OnPod/FlightComputer/Debug/FlightComputer

ProtoBufs/\.idea/

Testing/NodeSimulator/__pycache__/

*.xml

*platformio.ini
*platformio
*.pio
*.pioenvs
*.piolibdeps
*.clang_complete
*.gcc-flags.json
OnPod/Node/DynamicTestStand/include
ProtoBufs/UpdateNanoPbProtos.sh


OnPod/FlightComputer/Host/src/

OnPod/FlightComputer/BeagleBone/src/


OnPod/FlightComputer/tests/myeasylog\.log

OnPod/FlightComputer/BeagleBone/

OnPod/FlightComputer/Host/src/

OnPod/FlightComputer/myeasylog\.log
OnLand/pyvenv.cfg
*.log

OnPod/FlightComputer/build/

OnPod/Node/DynamicTestStand/include
OnPod/Node/RearNode/include
Testing/SingleCellTesting/Node/include
OnPod/Node/HighPressureTesting/include

ProtoBufs/UpdateNanoPbProtos.sh
*.csv

ProtoBufs/Paradigm/cpp/
