{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="header">
        <h4 class="title"></h4>
        <p class="category"></p>

    </div>
    <div class="content">
        <div class="row">

            <div class="col-md-12 text-center">
                <p>
                  <i class="fa fa-warning text-warning fa-5x"></i>
                </p>
                <h1>404 - Page not found</h1>
                <h3>Please check your URL and try again</h3>
            </div>

        </div>
    </div>
</div>
{% endblock %}
