{% block navbar %}
    <div class="navbar navbar-default navbar-fixed">
        <span class="navbar-brand hidden-sm hidden-xs" style="font-size: 8px" > Go fast kick ass. </span>

        <!-- TODO: Remove if not missed
        <div class="btn btn-primary btn-fill btn-xs">
            <span>Status: </span>
            <span id="status"></span>
        </div>

        <i class="fa fa-dashboard text-success" style="margin: 0 10px 0 10px"></i>
        <i class="fa fa-wifi text-success" style="margin: 0 10px 0 10px"></i>

        -->
         <div class="nav navbar-nav navbar-right">

            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <p>
                     Commands&nbsp;<b class="caret"></b>
                  </p>
               </a>
               <ul class="dropdown-menu">
                  <li><a href="#" id="commandFill">Do</a></li>
                  <li><a href="#" id="commandStandy">We</a></li>
                  <li><a href="#" id="commandReboot">Need</a></li>
                 <li><a href="#" id="disconnect">This</a></li>
                  <li class="divider"></li>
                  <li style="background-color: #00bbff"><a href="#" id="commandArm"><b>maybe yee</b></a></li>
                  <li><a href="#" id="commandFire"><b>maybe nah</b></a></li>
               </ul>
            </li>
            <span style="padding: 4px; margin:10px 20px 10px 0 ">
                <button id="e-stop" href="#" class="btn btn-danger btn-xs btn-fill text-light">ESTOP</button>
            </span>
      </div>
   </div>


{% endblock %}