<div class="row">
   <div class="col-xs-3">
     <div class="card">
        <div class="header">
           <h4 class="title">State</h4>
        </div>
        <div class="content">
           <div class="text-center">
             <div style="height:20px" class="clearfix">&nbsp;</div>
              <span class="btn btn-primary btn-fill btn-md"><b>Standby</b></span> <br>
              <div style="height:10px" class="clearfix">&nbsp;</div>
              State 11
           </div>
        </div>
     </div>
   </div>
   <div class="col-xs-3">
     <div class="card">
        <div class="header">
           <h4 class="title">Performance</h4>
        </div>
        <div class="content">
           <div class="text-center">
              <i class="fa fa-dashboard fa-5x fa-fw text-warning"></i> <br>Degraded
           </div>
        </div>
     </div>
   </div>

   <div class="col-xs-3">
     <div class="card">
        <div class="header">
           <h4 class="title">Network</h4>
        </div>
        <div class="content">
           <div class="text-center">
               <div id="connected-loader" class="loader-inner ball-scale-ripple"></div>
               <div id="no-connection-loader"class="loader-inner ball-pulse"></div>
           </div>
        </div>
     </div>
   </div>
   <div class="col-xs-3">
     <div class="card">
        <div class="header">
           <h4 class="title">Activity</h4>
        </div>
        <div class="content">
           <div class="text-center">
             <i class="fa fa-refresh fa-5x fa-fw" style=""></i> <br> 1 second ago
           </div>

        </div>
     </div>
   </div>
 </div>

 {% include '_alerts.html' %}
