{% extends "base.html" %}
{% block pageStyles %}
 <link href="{{ url_for('static', filename='assets/css/DtsControl.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="row">
       <div class="col-lg-2">
          {% include '_cards/flightProfile.html' %}
       </div>
       <div class="col-lg-2">
          {% include '_cards/navigation.html' %}
       </div>
        <div class="col-lg-2">
          {% include '_cards/states.html' %}
       </div>
        <div class="col-lg-4">
          {% include '_cards/commands.html' %}
       </div>
        {% include '_cards/connectionCards.html' %}
    </div>

    {% include '_cards/manual_state.html' %}
    {% include '_forms/setFlightProfile.html' %}
    {% include '_forms/setOverrides.html' %}

    <div class="row">
        <div class="col-md-4">
          {% include '_cards/sensor_values.html' %}
       </div>
       <div class="col-md-3">
           {% include '_cards/inverter_values.html' %}
       </div>
       <div class="col-md-3">
           {% include '_cards/HV_values.html' %}
           {% include '_cards/LV_values.html' %}
       </div>
       <div class="col-md-2">
          {% include '_cards/events.html' %}
       </div>
    </div>
{% endblock %}
