{#code for one after another START#}

<div class="card">
    <div class="header">
        <h4 class="title">Environment</h4>
        <p class="category">Pressure, Humidity, Temp</p>
    </div>
    <div class="content" style="display:flex; margin: 0 10px 0 10px">
        <div style="margin-right: auto">
            <h2 style="display: inline;" tag="value">500</h2>
            <h2 style="display: inline">
                <small>&nbsp;Torr</small>
            </h2>
        </div>
        <div style="margin-right: auto">
            <h2 style="display: inline;" tag="value">20</h2>
            <h2 style="display: inline">
                <small>&nbsp;%Rh</small>
            </h2>
        </div>
        <div style="margin-right: auto">
            <h2 style="display: inline;" tag="value">25</h2>
            <h2 style="display: inline"> <small>&nbsp;°C</small>
            </h2>
        </div>
    </div>
        <div class="footer">
            <div class="stats">
                <i id="status0" class="fa fa-check text-success"></i>
                <span id="status1">Environment Ok</span>
            </div>
        </div>
</div>
{#code END#}


{#code for one under each other START#}

{#<div class="card">#}
{#    <div class="header">#}
{#        <h4 class="title">Environment</h4>#}
{#        <p class="category">Pressure, Humidity, Temp</p>#}
{#    </div>#}
{#    <div class="content">#}
{#        <hr>#}
{#        <div>#}
{#            <h2 style="display: inline;" tag="value">500</h2>#}
{#            <h2 style="display: inline">#}
{#                <small>&nbsp;Torr</small>#}
{#            </h2>#}
{#        </div>#}
{#        <hr>#}
{#        <h2 style="display: inline;" tag="value">20</h2>#}
{#        <h2 style="display: inline">#}
{#            <small>&nbsp;%Rh</small>#}
{#        </h2>#}
{#        <hr>#}
{#        <h2 style="display: inline;" tag="value">25</h2>#}
{#        <h2 style="display: inline">#}
{#            <small>&nbsp;°C</small>#}
{#        </h2>#}
{#        <div class="footer">#}
{#            <hr>#}
{#            <div class="stats">#}
{#                <i id="status0" class="fa fa-check text-success"></i>#}
{#                <span id="status1">Environment Ok</span>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#code END#}