<div class="card ">
    <div class="header">
        <h4 class="title">Events</h4>
        <p class="category">Status Alerts, State Transitions, Faults and Errors</p>
    </div>
    <div class="content">
        <div class="table-full-width">
            <table class="table">
                <tbody>
                <tr>
                    <td><i class="fa fa-info text-info"></i></td>
                    <td>Positive Fill Rate.</td>
                    <td class="td-actions text-right">
                        3 minutes ago
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-info text-info"></i></td>
                    <td>Fill valve reports open.</td>
                    <td class="td-actions text-right">
                        3 minutes ago
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-info text-info"></i></td>
                    <td>State Transition: Boot -> Fill.</td>
                    <td class="td-actions text-right">
                        3 minutes ago
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-info text-info"></i></td>
                    <td>Remote command request to Fill - Accepted.</td>
                    <td class="td-actions text-right">
                        3 minutes ago
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-info text-info"></i></td>
                    <td>Flight Profile Update: <code>enforce-valid-profile</code>: <code>True</code> &rarr;
                        <code>False</code></td>
                    <td class="td-actions text-right">
                        5 minutes ago
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-info text-info"></i></td>
                    <td>Remote command request to Fill - Declined: <code>Flight Profile Error</code>.</td>
                    <td class="td-actions text-right">
                        5 minutes ago
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <hr>
            <div class="stats">
                <i class="fa fa-history"></i> Updated 1 second ago
            </div>
        </div>
    </div>
</div>
