{#code for one after another START#}

<div class="card">
    <div class="header">
        <h4 class="title">Navigation</h4>
        <p class="category">Position, Velocity, Acceleration</p>
    </div>
    <div class="content" style="display:flex; margin: 0 10px 0 10px">
        <div style="margin-right: auto">
            <h2 style="display: inline;" id="value0">30.9</h2>
            <h2 style="display: inline">
                <small>&nbsp;m</small>
            </h2>
        </div>
        <div style="margin-right: auto">

            <h2 style="display: inline;" id="value1">12.2</h2>
            <h2 style="display: inline">
                <small>&nbsp;m/s</small>
            </h2>
        </div>
        <div style="margin-right: auto">

            <h2 style="display: inline;" id="value2">38.5</h2>
            <h2 style="display: inline">
                <small>&nbsp;m/s<sup>2</sup></small>
            </h2>
        </div>
    </div>
    <div class="footer">
        <div class="stats">
            <i id="status0" class="fa fa-check text-success"></i>
            <span id="status1">Navigation Ok</span>
        </div>
    </div>
</div>

{#code END#}


{#code for one under each other START#}
{##}
{#<div class="card">#}
{#    <div class="header">#}
{#        <h4 class="title">Navigation</h4>#}
{#        <p class="category">Position, Velocity, Acceleration</p>#}
{#    </div>#}
{##}
{##}
{#    <div class="content row0">#}
{#        <hr>#}
{#        <div class="">#}
{#            <h2 style="display: inline;" id="value0">30.9</h2>#}
{#            <h2 style="display: inline">#}
{#                <small>&nbsp;m</small>#}
{#            </h2>#}
{#        </div>#}
{#        <hr>#}
{#        <h2 style="display: inline;" id="value1">12.2</h2>#}
{#        <h2 style="display: inline">#}
{#            <small>&nbsp;m/s</small>#}
{#        </h2>#}
{#        <hr>#}
{#        <h2 style="display: inline;" id="value2">38.5</h2>#}
{#        <h2 style="display: inline">#}
{#            <small>&nbsp;m/s<sup>2</sup></small>#}
{#        </h2>#}
{##}
{#        <div class="footer">#}
{#            <hr>#}
{#            <div class="stats">#}
{#                <i id="status0" class="fa fa-check text-success"></i>#}
{#                <span id="status1">Navigation Ok</span>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#code END#}