<div class="card">
    <div class="header">
        <h4 class="title">Navigation</h4>
        <p class="category">Position, Velocity, Acceleration</p>
    </div>
    <div class="content">
        <div id="chartHours" style="" class="ct-chart"></div>
        <div class="footer">
            <div class="legend">
                <i class="fa fa-circle text-info"></i> Position&nbsp;<i class="fa fa-circle text-danger"></i> Velocity&nbsp;<i
                    class="fa fa-circle text-warning"></i> Acceleration&nbsp;
            </div>
            <hr>
            <div class="stats">
                <i class="fa fa-check text-success"></i>&nbsp; Navigation Ok
            </div>
        </div>
    </div>
</div>
