<div class="card">
    <div class="header">
        <h4 class="title">Full System</h4>
        <p class="category">Piping &amp; Instrumentation Diagram</p>
    </div>
    <div class="content">
        <div class="text-center">
            <img src="{{ url_for('static', filename='./assets/img/cw3-fdp-pid-full.png') }}" width="80%">
        </div>
        <div class="footer">
            <div class="legend"><i class="fa fa-circle text-success"></i>&nbsp;Valve Closed&nbsp;<i
                    class="fa fa-circle text-info"></i>&nbsp;Valve Open
                <i class="fa fa-circle text-warning"></i>&nbsp;Transition&nbsp;<i class="fa fa-circle text-danger"></i>&nbsp;Error&nbsp;
            </div>
            <hr>
            <div class="stats">
                <i class="fa fa-check text-success"></i>&nbsp; Air Supply Ok
            </div>
        </div>
    </div>
</div>
