{#code for one after another START#}

<div class="card">
    <div class="header">
        <h4 class="title">Air Supply</h4>
        <p class="category">Propulsion Tanks</p>
    </div>
    <div class="content" style="display:flex; margin: 0 10px 0 10px">
        <div style="margin-right: auto">
            <h2 style="display: inline;" tag="value">4600</h2>
            <h2 style="display: inline">
                <small>&nbsp;PSI</small>
            </h2>
        </div>
        <div style="margin-right: auto">
            <h2 style="display: inline;" tag="value">-550</h2>
            <h2 style="display: inline">
                <small>&nbsp;PSI/s</small>
            </h2>
        </div>
        <div style="margin-right: auto">
            <h2 style="display: inline;" tag="value">10</h2>
            <h2 style="display: inline">&nbsp;<small>°C</small>
            </h2>
        </div>
    </div>
        <div class="footer ">
            <div class="stats">
                <i id="status0" class="pe-7s-check"></i>
                <span id="status1">Propulsion Tanks Ok</span>
            </div>
        </div>
</div>
{# code END#}


{#code for one under each other START#}

{#<div class="card">#}
{#    <div class="header">#}
{#        <h4 class="title">Air Supply</h4>#}
{#        <p class="category">Propulsion Tanks</p>#}
{#    </div>#}
{#    <div class="content">#}
{#        <hr>#}
{#        <div>#}
{#            <h2 style="display: inline;">4600</h2>#}
{#            <h2 style="display: inline">#}
{#                <small>&nbsp;PSI</small>#}
{#            </h2>#}
{#        </div>#}
{#        <hr>#}
{#        <h2 style="display: inline;">-550</h2>#}
{#        <h2 style="display: inline">#}
{#            <small>&nbsp;PSI/s</small>#}
{#        </h2>#}
{#        <hr>#}
{#        <h2 style="display: inline;">10°</h2>#}
{#        <h2 style="display: inline">&nbsp;<small>C</small>#}
{#        </h2>#}
{#        <div class="footer">#}
{#            <hr>#}
{#            <div class="stats">#}
{#                <i class="fa fa-check text-success"></i>#}
{#                <span id="propTankStatus">Propulsion Tanks Ok</span>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#code END#}