<div class="collapse"  id="flightProfileCollapse">
    <div class="card">
       <div class="header">
          <h4 class="title">Set Profile</h4>
       </div>
       <div class="content">
          <form id="flight-profile-form">
               <div class="form-group">
                   {{ armForm.csrf_token }}
                   <div class="row">
                       <div class="col-md-6">
                           <div class="row">
                                <div class="col-md-12">
                                    {{ armForm.flight_distance.label }}<br>
                                    {{ armForm.flight_distance(class_="form-control") }}
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-md-12">
                                    {{ armForm.max_flight_time.label }}<br>
                                    {{ armForm.max_flight_time(class_="form-control") }}
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-md-6">
                                    {{ armForm.taxi.label }}<br>
                                    {{ armForm.taxi(class_="form-control", onchange="check_it()") }}
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-md-6">
                                    {{ armForm.tube_pressure.label }}<br>
                                    {{ armForm.tube_pressure(class_="form-control", onchange="check_it()") }}
                                </div>
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="row">
                                <div class="col-md-12">
                                    {{ armForm.motor_speed.label }}<br>
                                    {{ armForm.motor_speed(class_="form-control") }}
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-md-12">
                                    {{ armForm.start_speed.label }}<br>
                                    {{ armForm.start_speed(class_="form-control") }}
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-md-12">
                                    {{ armForm.acceleration_time.label }}<br>
                                    {{ armForm.acceleration_time(class_="form-control") }}
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-md-12">
                                    {{ armForm.max_velocity.label }}<br>
                                    {{ armForm.max_velocity(class_="form-control") }}
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-md-12">
                                    {{ armForm.brake_distance.label }}<br>
                                    {{ armForm.brake_distance(class_="form-control") }}
                                </div>
                           </div>
                       </div>
                       </div>
                   </div>
                   <div class="row text-center">
                       <input type="submit" value="SEND"/>
                   </div>
               </div>
          </form>
       </div>
    </div>
</div>

<style>
    .card label{
        color: black;
        font-size: 17px;
    }
</style>

<script>
     function check_it() {
        //  If checkbox resolves to checked, disable and set to 0, otherwise enable it back
        if (document.getElementById('taxi').checked) {
            document.getElementById("start_speed").value = "0";
            document.getElementById("acceleration_time").value = "0";
            document.getElementById("start_speed").disabled = true;
            document.getElementById("acceleration_time").disabled = true;
        }
        else {
            document.getElementById("start_speed").disabled = false;
            document.getElementById("acceleration_time").disabled = false;
        }
    }
</script>


<script>
    $(document).ready(function() {
        $('#flight-profile-form').submit(function (e) {
            var url = "{{ url_for('parse_flight_profile_command') }}"; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('#flight-profile-form').serialize(), // serializes the form's elements.
                success: function (response) {
                    let status = response['status']
                    if(status === 'success'){
                        showNotification('Profile Sent','Success')
                    }
                    else{
                        const errors = response['context']
                        for (let key in errors) {
                            if (errors.hasOwnProperty(key)) {
                                let error_message = errors[key][0];
                                showNotification(error_message,'Danger')
                            }
                        }
                    }
                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ armForm.csrf_token._value() }}")
                }
            }
        })
    });
</script>