<div class="collapse"  id="overridesCollapse">
    <div class="card">
       <div class="header">
          <h4 class="title">Set Overrides</h4>
       </div>
       <div class="content">
          <form id="overrides-form">
               <div class="form-group">
                   {{ armForm.csrf_token }}
                    <div class="row">
                       <div class="col-md-2">
                            {{ overridesForm.lp_1.label }}
                            {{ overridesForm.lp_1(class_="form") }}
                           <br>
                            {{ overridesForm.lp_2.label }}
                            {{ overridesForm.lp_2(class_="form") }}
                           <br>
                            {{ overridesForm.lp_3.label }}
                            {{ overridesForm.lp_3(class_="form") }}
                           <br>
                            {{ overridesForm.hp.label }}
                            {{ overridesForm.hp(class_="form") }}
                           <br>
                            {{ overridesForm.hp_temp.label }}
                            {{ overridesForm.hp_temp(class_="form") }}
                       </div>
                        <div class="col-md-2">
                            {{ overridesForm.bms_values.label }}
                            {{ overridesForm.bms_values(class_="form") }}
                            <br>
                            {{ overridesForm.inverter_values.label }}
                            {{ overridesForm.inverter_values(class_="form") }}
                            <br>
                            {{ overridesForm.brake_node_heartbeat.label }}
                            {{ overridesForm.brake_node_heartbeat(class_="form") }}
                            <br>
                            {{ overridesForm.lvdc_node_heartbeat.label }}
                            {{ overridesForm.lvdc_node_heartbeat(class_="form") }}
                            <br>
                            {{ overridesForm.enclosure_node_heartbeat.label }}
                            {{ overridesForm.enclosure_node_heartbeat(class_="form") }}
                            <br>
                       </div>
                   </div>
                   <div class="row text-center">
                       <input type="submit" value="SEND"/>
                   </div>
               </div>
          </form>
       </div>
    </div>
</div>

<style>
    .card label{
        color: black;
        font-size: 17px;
    }
</style>



<script>
    $(document).ready(function() {
        $('#overrides-form').submit(function (e) {
            var url = "{{ url_for('parse_overrdies') }}"; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('#overrides-form').serialize(), // serializes the form's elements.
                success: function (response) {
                    let status = response['status']
                    if(status === 'success'){
                        showNotification('Profile Sent','Success')
                    }
                    else{
                        const errors = response['context']
                        for (let key in errors) {
                            if (errors.hasOwnProperty(key)) {
                                let error_message = errors[key][0];
                                showNotification(error_message,'Danger')
                            }
                        }
                    }
                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ armForm.csrf_token._value() }}")
                }
            }
        })
    });
</script>