<div class="card ">
    <div class="content">
        <table class="table table-hover table-striped">
            <thead><tr>
                <th>Status</th>
                <th>Cell #</th>
                <th>Voltage</th>
                <th>Temp</th>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>101</td>
                <td>1</td>
                <td>22</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>102</td>
                <td>10</td>
                <td>47</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>103</td>
                <td>5</td>
                <td>31</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>104</td>
                <td>11</td>
                <td>40</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>105</td>
                <td>2</td>
                <td>31</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>106</td>
                <td>4</td>
                <td>31</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>107</td>
                <td>8</td>
                <td>6</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>108</td>
                <td>1</td>
                <td>8</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>109</td>
                <td>10</td>
                <td>25</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>110</td>
                <td>11</td>
                <td>25</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>111</td>
                <td>11</td>
                <td>49</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>112</td>
                <td>4</td>
                <td>37</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>113</td>
                <td>2</td>
                <td>36</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>114</td>
                <td>12</td>
                <td>37</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>115</td>
                <td>11</td>
                <td>26</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>116</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>117</td>
                <td>8</td>
                <td>43</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>118</td>
                <td>7</td>
                <td>9</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>119</td>
                <td>5</td>
                <td>45</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>120</td>
                <td>8</td>
                <td>48</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>121</td>
                <td>2</td>
                <td>23</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>122</td>
                <td>4</td>
                <td>14</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>123</td>
                <td>11</td>
                <td>41</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>124</td>
                <td>8</td>
                <td>42</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>125</td>
                <td>6</td>
                <td>45</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>126</td>
                <td>5</td>
                <td>33</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>127</td>
                <td>5</td>
                <td>41</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>128</td>
                <td>10</td>
                <td>11</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>129</td>
                <td>10</td>
                <td>39</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>130</td>
                <td>8</td>
                <td>30</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>131</td>
                <td>8</td>
                <td>45</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>132</td>
                <td>11</td>
                <td>21</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>133</td>
                <td>2</td>
                <td>46</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>134</td>
                <td>8</td>
                <td>28</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>135</td>
                <td>7</td>
                <td>20</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>136</td>
                <td>1</td>
                <td>32</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>137</td>
                <td>11</td>
                <td>43</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>138</td>
                <td>1</td>
                <td>44</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>139</td>
                <td>3</td>
                <td>22</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>140</td>
                <td>4</td>
                <td>49</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>141</td>
                <td>3</td>
                <td>9</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>142</td>
                <td>4</td>
                <td>36</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>143</td>
                <td>2</td>
                <td>33</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>144</td>
                <td>7</td>
                <td>44</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>145</td>
                <td>10</td>
                <td>22</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>146</td>
                <td>7</td>
                <td>15</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>147</td>
                <td>8</td>
                <td>10</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle text-success"></i></td>
                <td>148</td>
                <td>12</td>
                <td>2</td>
            </tr>
            </thead></table>
    </div>
</div>
